<!doctype html>
    <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
    <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
    <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><html lang="en"><![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Creative Protfolio</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
        
        <!-- CSS Files -->
        <!-- Normalize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
        <!-- Spot css -->
        <link rel="stylesheet" href="./assets/css/spot.css">
        <!-- main css -->
        <link rel="stylesheet" href="./assets/css/main.css">

        <!-- pure css buttons -->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/buttons-min.css">

        <!-- JAVASCRIPT  Files -->
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" 
        type="text/javascript"></script>
        
        <!-- app js -->
        <script src="./assets/js/app.js" type="text/javascript"></script>


        <!-- FONTS -->
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
    </head>
    
    <body>
        {{> index}}
    </body>
</html>
