<div class="header">
    <div class="row">
        
        <!-- LOGO -->
        <div class="column grid_5 logo-container"><img alt="sweefty" src="./assets/images/logo.png"></div>
        
        <!-- TOP MENU -->
        <div class="column grid_7 menu-container">
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="intro">
    <div class="splash">
        
        <h1 class="splash-head">Hello, We're Sweefty</h1>
        
        <p class="splash-subhead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.
        </p>

        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Learn More</a>
        </p>
    </div>
</div>


<div class="content">
    

    <!-- OUR SERVICES SECTION -->

    <!-- section top -->
    <div class="section-top">
        <!-- write something unique about services -->
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet"
        </p>
    </div>
    
    <!-- services section content -->
    <div class="row section">
        <div class="column grid_4"></div>
        <div class="column grid_4 middle"></div>
        <div class="column grid_4"></div>
    </div>
    <!-- END SERVICES SECTION -->

    <!-- COMPANIES -->
    <div class="section-top">

        {{#if ourClients}}
        <h2 class="title">
            {{ourClients}}
        </h2>
        {{/if}}

        <img alt="twitter" src="./assets/images/companies/twitter.png">
        <img alt="shopify" src="./assets/images/companies/shopify.png">
        <img alt="lyft" src="./assets/images/companies/lyft.png">
        <img alt="rackspace" src="./assets/images/companies/rackspace.png">
        <img alt="digitaloccean" src="./assets/images/companies/digitalocean.png"> 
    </div>

    <!-- TEAM SECTION -->

    <!-- PORTFOLIO -->
    <div class="potfolio">
        
    </div>
</div>
